<html>
    {% extends "./home.html/" %}
    <head>
        {% load static %} 
        
    </head>
    <body>
        {% block content %}
        <div id="createAccount">
            <form method="POST" id="userData" action="/create_account/">
                {% csrf_token %}
                <label>Username:</label> <br>
                {{ form.username }} <br><br>
                <label>Password:</label> <br>
                {{ form.password1 }} <br><br>
                <label>Confirm Password:</label> <br>
                {{ form.password2 }} <br>
                
                <ul>
                    <li>Your password must have at least 8 characters.</li>
                    <li>Your password can not contain only numbers.</li>
                </ul>

                <button type="submit" form="userData">Create Account</button>
            </form>
        </div>
        {% endblock %}
    </body>
</html>

<!-- Your password can’t be too similar to your other personal information.
Your password must contain at least 8 characters.
Your password can’t be a commonly used password.
Your password can’t be entirely numeric. -->