<!DOCTYPE html>
<html>
    <head>
        {% load static %} 
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'chat/style.css/' %}">

    </head>
    <body>
        <div class="navbar" id="navbarContainer">
            <a class="navItem" href="/home/" id="navItem-1">HOME</a>
            <a class="navItem" href="/login/" id="navItem-3">LOGIN</a>
            <a class="navItem" href="/create_account/" id="navItem-2">CREATE ACCOUNT</a>
        </div>
        <div id="container">
            {% block content %}
            <div id="homeOptions">
                Create account with only username and password. <br><br><br><br>
                <a href="/create_account/" id="homeCreateAccount">CREATE ACCOUNT</a> <br><br><br><br>
                <a href="/login/" id="homeLogin">LOGIN</a>
            </div>
            {% endblock %}
        </div>
        
    </body>

    
</html>
