body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right, rgba(66, 103, 172, 0.2), rgba(66, 103, 172, 1));
    font-family: Arial;
}

#container {
    display: flex;
    /* border: 2px solid orange; */
    height: calc(100vh - 64px);
    width: 100vw;
    justify-content: space-between;
    /* overflow-y: hidden; */
    /* height: 100%;
    width: 100%; */
}

/* TOP NAVBAR CSS */

.navbar {
    /* border: 5px solid black; */
    background-image: linear-gradient(to right, rgba(53, 60, 92, 1), rgba(53, 60, 92, 0.2));
    height: 53px;
    overflow: hidden;
}
.navItem {
    /* border: 2px solid red; */
    font-size: 20px;
    color: rgb(246, 235, 255);
    text-decoration: none;
    text-align: center;
    padding: 15px 14px;
}
.navItem:hover {
    background-color: rgb(246, 235, 255);
    color: rgb(53, 60, 92);
}
#navItem-1 {
    float: left;
}
#navItem-2, #navItem-3, #navItem-4 {
    float: right;
}

/* HOME PAGE CSS */

#homeOptions {
    /* border: 3px solid red; */
    height: 200px;
    width: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#homeCreateAccount {
    padding: 15px 14px;
    text-decoration: none;
    color: rgb(246, 235, 255);
    background-color: rgb(53, 60, 92);
}

#homeLogin {
    margin-top: 500px;
    padding: 15px 14px;
    text-decoration: none;
    color: rgb(246, 235, 255);
    background-color: rgb(53, 60, 92);
}

/* CREATE ACCOUNT PAGE CSS */
#createAccount {
    /* border: 2px solid red; */
    height: 200px;
    width: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* LOGIN PAGE CSS */

#loginFormContainer {
    position: fixed;
    height: 200px;
    width: 200px;
    /* border: 2px solid green; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* USER HOME CSS */

#mainContainer {
    /* border: 2px solid black; */
    flex: 1;
    /* position: absolute;
    height: 400px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
#createContainer {
    /* border: 3px solid blue; */
    position: relative;
    height: 150px;
    width: 200px;
    top: 33%;
    left: 27%;
    /* transform: translate(-50%, -50%); */
}

/* ROOM LIST CSS (LEFT SIDEBAR) */

#userRooms {
    /* float: left; */
    /* position: fixed; */
    /* height: 100%; */
    height: calc(100vh - 53px);
    width: 20vw;
    /* border: 2px solid green; */
    overflow-y: scroll;
}

#userRooms a {
    text-decoration: none;
    color: black;
}

/* USER LIST CSS (RIGHT SIDEBAR) */

#userList {
    /* float: right; */
    /* position: fixed; */
    /* height: 100%; */
    height: calc(100vh - 53px);
    width: 20vw;
    /* border: 2px solid green; */
    overflow-y: scroll;
}

.listItem {
    background-color: rgb(246, 235, 255);
    border: 2px solid rgb(53, 60, 92);
    border-radius: 4px;
    margin-right: 4px;
    /* overflow: hidden; */
    word-wrap: break-word;
}

/* CHAT ROOM CSS */

#roomInfo {
    box-sizing: border-box;
    /* color: rgb(246, 235, 255); */
    font-size: 18px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#roomInfo > button {
    float: right;
}

#shareRoomInfo {
    box-sizing: border-box;
    border: 3px solid black;
    visibility: hidden;
    z-index: -100;
    position: fixed;
    background: rgb(66, 103, 172);
    color: rgb(246, 235, 255);
    height: 500px;
    width: 500px;
    padding-top: 150px;
    padding-left: 5px;
    padding-right: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#mContain {
    box-sizing: border-box;
    position: relative;
    height: 25vw;
    width: auto;
    max-width: 600px;
    left: calc((60vw - 600px)/2);
    overflow-y: scroll;
    border: 5px solid rgb(53, 60, 92);
    padding-top: 5px;
    margin-top: 30px;
    /* padding-left: calc((60vw - 600px)/2); */
}

#roomContainer {
    /* border: 2px solid blue; */
    flex: 1;
    height: calc(100vh - 53px);
    overflow-y: scroll;
}

#roomInput {
    box-sizing: border-box;
    position: relative;
    height: auto;
    width: auto;
    max-width: 600px;
    left: calc((60vw - 600px)/2);
    overflow-y: scroll;
    border: 5px solid rgb(53, 60, 92);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#message {
    height: 100px;
    width: 450px;
}

.messageBox {
    /* box-sizing: border-box; */
    background-color: rgb(246, 235, 255);
    border: 1px solid black;
    width: 400px;
    margin-left: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#delete {
    /* background-image: linear-gradient(to bottom right, rgb(30, 139, 202)); */
    box-sizing: border-box;
    border: 3px solid black;
    visibility: hidden;
    z-index: -100;
    position: fixed;
    background: rgb(66, 103, 172);
    height: 500px;
    width: 500px;
    padding-top: 150px;
    padding-left: 5px;
    padding-right: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#deleteButton {
    height: 50px;
    width: 100px;
    font-size: 18px;
    background-color: rgb(218, 49, 20);
    color: white;
}

#deleteCancel {
    height: 50px;
    width: 100px;
    font-size: 18px;
    background-color: white;
    color: black;
}